@font-face {
    font-family: "Asus Rog";
    src: url("AsusRog-Regular.ttf") format("TrueType")
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    cursor: default;
}

body {
    font-family: Whitney, Helvetica Neue,Helvetica,Arial,sans-serif;
    background: black;
    overflow-y: hidden;
}

h1 {
    font-size: 150;
    color: black;
}

.font {
    font-family: "Asus Rog", Arial, sans-serif;
    transition: 2s;
}

.main {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
}

@keyframes rotate-center {
    0% {
        transform: translate(-50%, -70%)
    }
    100% {
        transform: translate(-50%, -50%)
    }
}

.ss {
    display: flex;
}

.menu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #000000;
    border-top: 1px solid white;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu ul li {
    padding: 10px;
    background: #FFFFFF;
    margin-left: 15px;
}

a {
    color: black;
}

.aboutus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background: #30000050;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    transition: 2s;
    padding-top: 15px;
    -webkit-animation: rotate-center .6s ease-in-out both;
    animation: rotate-center .6s ease-in-out both;
    padding-left: 15px;
}

.aboutus div {
    margin: 15px;
}

#projects {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background: #30000050;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    transition: 2s;
    padding-top: 15px;
    -webkit-animation: rotate-center .6s ease-in-out both;
    animation: rotate-center .6s ease-in-out both;
}

#projects div {
    border-left: 3px solid white;
    margin: 15px;
    padding-left: 5px;
}

#lang {
    position: absolute;
    right: 2vh;
    top: 2vh;
    background: #FFFFFF30;
    border-radius: 2px;
}

#lang img {
    block-size: 11vh;
}

#lang ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#lang ul li {
    padding: 5px;
    background: #00000020;
    border-bottom: 1px solid #000;
}

.leftbar {
    left: 0;
    height: 100%;
    width: 15%;
    background: black;
    border-right: 1px solid white;
    color: white;
}

.leftbar ul {
    flex-direction: column;
    list-style-type: none;
}

.leftbar ul li {
    padding: 5px;
    padding-left: 10px;
    background: #FFFFFF15;
    border-bottom: 1px solid white;    
}

.lbtoggle {
    left: 15%;
    top: 50%;
    position: absolute;
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translate(-5%, -50%);
    cursor: hand;
}

.copy {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px;
    margin: 0;
    background: #FFFFFF20;
    border-radius: 3px;
}

.code {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #30000050;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    transition: 2s;
    -webkit-animation: rotate-center .6s ease-in-out both;
    animation: rotate-center .6s ease-in-out both;
}

.code div {
    margin: 15px;
}

.ce-inf {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    background: #90909015;
    border-left: 1px solid #90909030;
    border-right: 1px solid #90909030;
    padding: 4%;
}

.ce-inf h2 {
    text-align: center;
}

/*
    Mobile support

    Global (index.html contents)
*/
@media only screen and (max-width: 600px) {
    .menu ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
